
/* ============= */

@import url('https://fonts.googleapis.com/css2?family=NTR&family=Poppins:wght@400;500;600&display=swap');
body {
    background-color: white;
}
.fing {
    display: grid;
    justify-content: center;
}
#landing-content p {
    margin: 35px 20px;
   }
#landing-content h1 {
    font-size: 25px;
   }
.btn-primary {
    background: #F04405;
    border: none;
    border-radius: 5px;
    padding: 2px 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 42px;
    opacity: 0.9;
    color: #FBFCFF;
}
.fing {
    width: 150px;
}
#message-btn {
    cursor: pointer;
       background: #F04405;
    border: none;
    border-radius: 5px;
    padding: 2px 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    opacity: 0.9;
    color: #FBFCFF;
}
#message-btn:hover {
   text-decoration: underline;
}
.btn-logout-chat {
    display: flex;
    justify-content: right;
    margin: 10px 10px;
    /* background: #F04405; */
    border: none;
    border-radius: 5px;
    /* padding: 2px 0; */
    font-family: 'Poppins';
    font-style: normal;
    /* opacity: 0.9; */
    color: #FBFCFF;
}
.btn-primary:hover {
    cursor: pointer;
    /* background-color: rgba(81, 111, 213, 0.99); */
    opacity: 1;
}
.btn-secondary {
    background-color: white;
    color: black;
    border: 1px solid green;
    padding: 7px 14px;
    border-radius: 7px;
}


.landing-main {
    background-color: white;
    /* border-radius: 10px; */
   display: grid;
    justify-content: center;
    text-align: center;
    margin: 10px 95px;
    padding: 20px 75px 50px 75px;
    gap: 2rem;
    min-height: 70vh;
}

#landing-content h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 54px;
    color: #000000;
}

#landing-content p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

#landing-svg img {
    width: 347px;
    height: 306px;
}



@media (max-width:1150px) { 
   .landing-main {
    display: grid;
    justify-content: center;
    text-align: center;
   }
   #landing-content h1 {
    font-size: 35px;
   }
   #landing-content p {
    margin: 50px 5px;
   }
   #landing-svg {
    display: grid;
    justify-content: center;
   }
}
@media (max-width:768px) { 
    
    #landing-content p {
        font-size: 20px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 50px;
    }
}
@media (max-width:655px) { 
    .btn-logout-chat {
        display: flex;
        justify-content: center;
        margin: 20px 0 30px 0;
    }
    .fing {
        width: 110px;
    }
   .landing-main {
    display: grid;
    justify-content: center;
   }
   #landing-content {
    text-align: left;
   }
   #landing-content h1 {
    margin-left: 25px;
   }
   #landing-content button {
    margin-left: 25px;
   }
   #landing-svg img {
        margin-top: 20px;
        width: 408px;
        height: 254px;
   }
}
@media (max-width:570px) {    
   #landing-content h1 {    
    max-width: 300px;
    padding: 0 30px;
   }
   #landing-content p {
    max-width: 400px;
    padding: 0 30px;
   }
   #landing-content button {
    margin:  0 55px;
   }
}    
@media (max-width:440px) {       
    #landing-svg img {
        width: 366px;
        height: 234px;
    }
    .landing-main {
        max-width: 300px;
    }
}    
@media (max-width:440px) {
    .landing-main {
        /* margin: 5px 3px; */
        padding: 30px 50px;
    }    
    #landing-svg img {
        width: 370px;
        height: 214px;
    }
    .landing-main {
        max-width: 300px;
    }
}    