@import url('https://fonts.googleapis.com/css2?family=NTR&family=Poppins:wght@400;500;600&display=swap');

.login {
  font-family: 'Poppins';
  margin: 0 10%;
}

.email-pass, .bio {
  display: flex;
  justify-content: center;
}

.email-pass {
  margin: 20px 0 0 0;
}

  .form{
    margin-top: 100px;
    background-color: #ffff;
    /* padding: 40px 60px; */
    border-radius: 10px;
    /* min-width: 300px; */
  }
  .form h1{
    color: rgb(0, 128, 255); 
    opacity: 0.7; 
    /* color: #7688CF; */
    text-align: center;
    font-size: 22px;
  }
  .inputs-l{
     display:flex;
     flex-direction: column;
     outline: none;
  }
  .inputs-l input[type="email"], input[type="password"]{
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    outline: none;
  }
  .form button{
    border-radius: 5px;
    color: #ffff;
    background-color:rgb(0, 128, 255);  
      /* background-color: #7688CF; */
  }
  
  /* ---------- yayahc------------- */
  .inputs-l {
    margin: 10px;
    margin-bottom: 10px;
  }
  .inputs-l input {
    margin-bottom: 10px;
  }
  .inputs-l label {
    margin-bottom: 5px;
  }
  .con button{
    opacity: 0.7;
    background-color: rgb(0, 128, 255);  
    /* background-color: #7688CF; */
    margin: 10px;
    padding: 9px 65px;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    display: flex;
    justify-content: center;
  }
  .forget-pass {
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  .forget {
    margin: 10px 0;
    font-size: 13px;
    display: grid;
    justify-content: center;
  }
  .forget p {
    margin-right: 10px;
  }